* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'OpenSans'; */
}

header {
    background-image: url(img/bg.png);
    height: 769px;
    background-size: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.logo {
    text-align: center;
    color: #FFFFFF;
    padding-top: 42px;
    letter-spacing: 0.05em;
}

.logo-img {
    height: 16px;
}

.header__title {
    /* font-family: 'BebasNeueBold'; */
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 6px;
    color: #FFFFFF;
    padding-top: 318px;
}

.header__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.header__par {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    margin-top: 221px;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding-top: 24px;
    text-align: center;
}

.menu__logo {
    padding-bottom: 24px;
    font-weight: bolder;

}

ul.menu__list li {
    display: inline;
    padding-left: 48px;
}

.menu__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #48555B;
}

.menu__link:hover {
    color: #00A4E5;
}

.main {
    padding-top: 57px;
    display: flex;
    flex-direction: column;
}

.main__header {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2px;
    color: #48555B;
    padding-bottom: 10px;
}

.line {
    width: 50px;
    height: 2px;
    align-self: center;
    background-color: #00A4E5;
    border: 2px solid #00A4E5;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content__founded {
    padding-top: 64px;
    width: 405px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.9px;
    color: #48555B;
}

.content__span {
    color: #16ACE8;
}

.content__text {
    padding-top: 40px;
    width: 405px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

figure {
    display: flex;
    padding-top: 84px;
    padding-bottom: 119px;
    align-items: center;

}

figcaption {
    padding-top: 22px;
    width: 68px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.9px;
    position: absolute;
    color: #FFFFFF;
    padding-left: 22px;
    text-align: left;
}

.wrap {
    position: relative;
}

.wrap__img {
    margin-left: 14px;
}

.service {
    display: flex;
    justify-content: space-between;
}

.service__name {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #48555B;
    padding-bottom: 10px;
}

.service__line {
    width: 50px;
    background-color: #00A4E5;
    border: 2px solid #00A4E5;
}

.service__par {
    width: 405px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.service__button {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: #00A4E5;
    background-color: #00A4E5;
    padding: 11px 29px;
}

.service__button:hover {
    background-color: #FFFFFF;
    border: 1px solid #00A4E5;
    color: #00A4E5;
}

.service__cart {
    margin-top: 78px;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    margin-bottom: 115px;
}

.service-item {
    position: relative;
    width: 295px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}

.service__img {
    padding: 23px;
    max-width: 100%;
}

.service-cart_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;

}

.service__header {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #48555B;
}

.service-par {
    width: 250px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    padding-bottom: 39px;
}

.get-in-touch {
    margin-top: 115px;
    background-image: url(img/bg-footer.jpg);
    background-size: 100%;
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch__header {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
    width: 350px;
    text-align: center;
    margin-bottom: 35px;
    padding-top: 120px;
}

.get-in-touch__button {
    padding: 11px 26px;
    border: none;
    background: #00A4E5;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.get-in-touch__button:hover {
    background-color: #FFFFFF;
    border: 1px solid #00A4E5;
    color: #00A4E5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.newsletter {
    background: #171819;
    display: flex;
    justify-content: space-evenly;
}

.newsletter__header {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    padding-top: 35px;
    padding-bottom: 35px;
}

form {
    display: flex;
    align-items: center;
}

input[type="email"] {
    padding: 10px 16px;
    background: #FFFFFF;
    border: 1px solid #979797;
    font-size: 14px;
    line-height: 16px;
    color: #48555B;
}

button[type="submit"] {
    background: #00A4E5;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 11px 48px;
}

.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

input:invalid:not(:placeholder-shown)+.form__error {
    display: block;
}

footer {
    background: #141A20;
}

.company {
    padding-top: 46px;
}

.footer {
    display: flex;
}

.company-par {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

.company__logo {
    padding-top: 19px;
    padding-bottom: 16px;
    color: #FFFFFF;
}

.par {
    padding-bottom: 49px;
    width: 250px;
    line-height: 16px;
}

.links {
    display: flex;
    justify-content: center;
    align-self: center;
}

.link {
    /* align-items: center;  */
}

.links>ul {
    list-style-type: none;
}

.link_par {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.link-home {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    line-height: 25px;
    align-items: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

.faq,
.blog {
    padding-top: 24px;
    padding-left: 38px;
}

.contact {
    display: flex;
    align-content: center;
    justify-content: right;
}

.contact-info {
    font-size: 11px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    width: 141px;
}

.contact-name {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

.icons-img {
    background-color: #141A20;
}